[package]
name = "ical"
version = "0.2.0"
authors = ["Peltoche <dev@halium.fr>"]

description = "Ical/Vcard parser for Rust"
homepage = "https://github.com/Peltoche/ical-rs"
repository = "https://github.com/Peltoche/ical-rs"
keywords = ["ical", "vcard", "parser"]
readme = "README.md"
license = "GPL-3.0"

[dependencies]

